


node_modules/
dist/


*.class


*.py[cod]


*.log


*.jar


target/
dist/


.idea/


TEST*.xml


.DS_Store


Thumbs.db


*.app
*.exe
*.war


*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

.classpath
.project
bin
.gradle

Libs

Reports

output
!output/ .gitkeep
build

/bin/
/.settings/
/.classpath
.svn/

/Reports/
/Libs/
/bin/
/.settings/
/.classpath
.svn/
Downloaded attachment
/Downloaded attachment/
.svn/